{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "plugins": [
      [
          "module-resolver",
          {
              "root": ["./"],
              "alias": {
                  "~": "./ui",
                  "~public": "./public",
                  "@": "./src",
                  "@shared": "./shared"
              }
          }
      ]
  ],
  "env": {
      "production": {
          "presets": [
              [
                  "next/babel",
                  {
                      "preset-env": {
                          "targets": {
                              "browsers": ["> 0.25%, not dead"]
                          }
                      }
                  }
              ],
              ["minify"]
          ]
      }
  }
}